* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 900;
}
.message {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    color: darkviolet;
}
.violet1 {
    background-color: darkviolet;
    margin-bottom:20px;
    /*box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);*/
}

.contactus{
    height:50vh;
}
.form1{
    margin-bottom: 7px;
}

@media (max-width: 1000px) {
    
    
    .contactus {
        height: 100vh;
    }

   
}
