.body{
    margin: 0px;
    padding: 0px;
    background-color: #FDD !important;
}

.row{
    margin-left: 80px;
    margin-top: 200px;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
}

input{
    margin-top:10px;
    padding: 5px;
    border-radius: 5px;
    
}
.Score{
    margin-top: 20px;;
}
.container{
    width:500px;
}
p{
    font-family: cursive;
}
.text{
    width: 250px;
}
